@model Fatec_Facilities.Models.ManutencaoPredial

@{
    ViewData["Title"] = "Details";
    Layout = "_LayoutUser";
}

<div class="container bg-light text-dark p-5 rounded my-5 h-50 w-50">
    <h1 class="text-center">Detalhes da manutenção predial:</h1>
    <hr class="w-25" />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Local)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Local.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoriaManutencaoPredialId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoriaManutencaoPredialId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataSolicitacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataSolicitacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataAprovacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataAprovacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataConclusao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataConclusao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fornecedor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fornecedor.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valor)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</div>
