@model IEnumerable<Fatec_Facilities.Models.ManutencaoPredial>

@{
    ViewData["Title"] = "Index";
    Layout = "_LayoutUser";
}

<div class="container">
    <br />
    <div class="d-flex">
        <div class="flex-fill">
            <h1><i class="fas fa-cubes"></i> Manutenção predial: </h1>
        </div>
        <div class="flex-fill align-items-center justify-content-center">
            <a class="float-right btn btn-primary text-white" asp-action="Create">
                <i class="fas fa-plus"></i> &nbsp;
                Cadastrar um novo OS de manutenção predial
            </a>
        </div>
    </div>
    <br />
<table class="table table-bordered table-striped table-light overflow-auto">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Local)
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.CategoriaManutencaoPredialId) *@
                Categoria Id
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DataSolicitacao) *@
                Solicitação
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DataAprovacao) *@
                Aprovacão
            </th>
            <th>
                @* @Html.DisplayNameFor(model => model.DataConclusao) *@
                Conclusão
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Local.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoriaManutencaoPredialId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataSolicitacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataAprovacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataConclusao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fornecedor.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                        <a class="btn btn-outline-secondary" asp-action="Edit" asp-route-id="@item.Id">
                            <i class="fas fa-pen"></i>
                        </a>
                        <a class="btn btn-outline-info" style="width:40px" asp-action="Details" asp-route-id="@item.Id">
                            <i class="fas fa-info"></i>
                        </a>
                        <a class="btn btn-outline-danger" asp-action="Delete" asp-route-id="@item.Id">
                            <i class="fas fa-trash"></i>
                        </a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
